body {
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 20px black solid;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.red{
    background-color: #d95980;
}

.purple{
    background-color: #aa4bb3;
}

.flash{
    background-color: white;
}